<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Targets</title>
</head>
<body>
    <h1>Targets</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for target in targets %}
                <tr>
                    <td>{{ target[0] }}</td>
                    <td>{{ target[1] }}</td>
                    <td>    
                            <div style="width: 10%; height: 10%; overflow: hidden; border-radius: 50%;">
                                <img src="data:image/png;base64,{{ target[2] }}" alt="{{ target[1] }} Image" 
                                     style="width: 100%; height: 100%; object-fit: cover;">
                            </div>        
                </td>
                    <td>{{ target[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>